      .vevent
        %h2.summary BR-1: Making the Jump to Ruby

        %h3.when-icon.icon When?
        %p
          %span.dtstart
            - date_string = '2012-01-31'
            - date = Date.parse date_string
            %abbr.value{ :title => "#{date_string}" } #{date.strftime("#{date.day.ordinalize} %B, %Y")}
            %span.value 6:30pm

        %h3.where-icon.icon
          Where?
          %a.get-directions{ :href => "http://maps.google.co.uk/maps?q=21+Social&hl=en&ll=54.601095,-5.926309&spn=0.01018,0.025921&sll=54.592891,-5.929399&sspn=0.010182,0.025921&oq=21+social&vpsrc=6&hq=21+Social&t=m&z=16", :title => "Show me the way to 21 Social"} Get Directions

        %p.location
          21 Social
          %br
          1 Hill Street, Cathedral Quarter, Belfast, BT1 2LA

        %h3.what-icon.icon What?
        %p.description The first Belfast Ruby event will broach the topic of "Making the Jump to Ruby". It’s never an easy decision for a developer to change languages but most who move to Ruby and Rails never look back!
        %p.description This first meetup is a chance to talk to experienced Ruby developers and recent migrants about the differences between languages and their cultures, what makes Ruby so great, and how to get started.
        %p.description We'll also have a bar and some tasty snacks.

        %a.url.cta{:href=> "http://digitalcircle.org/events/making-the-jump-to-ruby"} Attend Meetup >


  %aside#sidebar
    %ul.sponsors
      %li.sponsor
        %a{ :href => "http://rumblelabs.com", :title => "Rumble Labs"}
          %span.sponsor-tag Sponsor
          = image_tag "rumble-labs-logo.png", :alt => "Rumble Labs", :class => "sponsor-logo"
      %li.sponsor
        %a{ :href => "http://digitalcircle.org/", :title => "Digital Circle"}
          %span.sponsor-tag Sponsor
          = image_tag "digital-circle-logo.png", :alt => "Digital Circle", :class => "sponsor-logo"
      %li.sponsor
        %a{ :href => "http://airpointofsale.com/", :title => "Airpos"}
          %span.sponsor-tag Sponsor
          = image_tag "airpos-logo.png", :alt => "Airpos", :class => "sponsor-logo"
