%div#content
  %div.col.one
    %section.section
      %h1 Meetups
      %p Our meetups are open to all experience levels, from total novices to expert Rubyists.

      .vevent
        %h2.summary BR-5: Build Conf Special

        %h3.when-icon.icon When?
        %p
          %span.dtstart
            - date_string = '2012-11-14'
            - date = Date.parse date_string
            %abbr.value{ :title => "#{date_string}" } #{date.strftime("#{date.day.ordinalize} %B, %Y")}
            %span.value 5:00pm

        %h3.where-icon.icon
          Where?
          %a.get-directions{ :href => "https://maps.google.com/maps?f=d&source=s_d&saddr=&hl=en&ie=UTF8&layer=c&daddr=The+Rumble+Laboratory+%4054.59289,-5.929398", :title => "Rumble Laboratory"} Get Directions
          
        %p.location
          The Rumble Laboratory
          %br
          2nd Floor, 21 Ormeau Avenue, Belfast, BT2 8HD

        %h3.what-icon.icon What?
        %p.description
          A special, 
          %a{:href => 'http://buildconf.com/'} Build Conf 
          Belfast Ruby event will be taking place on Wednesday 14th November. We’ve managed to convince a few awesome Rubyists attending Build to come do some lightning talks (5-10 minutes). The lineup is still being finalised but confirmed so far we have 
          %a{:href => 'https://twitter.com/elliottkember'} Elliott Kember, 
          %a{:href => 'https://twitter.com/zachinglis'} Zach Inglis 
          and 
          %a{:href => 'https://twitter.com/jasoncale'} Jason Cale. 
          %p Everyone is welcome to attend Belfast Ruby (not just Build attendees) so come on round if you fancy something a bit more technical during Build week. If you want to do a Ruby lightning talk, you're most welcome.

        %a.url.cta{:href=> "http://digitalcircle.org/events/belfast-ruby-build-conf-special"} Attend Meetup >
      .previous
        %h3 Previous Meetups
        %ul
          %li
            %a{:href => 'http://digitalcircle.org/events/making-the-jump-to-ruby'} BR-1: Making the Jump to Ruby
            %a{:href => 'http://digitalcircle.org/events/ruby-without-rails'} BR-2: Ruby without Rails
            %a{:href => 'http://digitalcircle.org/events/belfast-ruby-testing-ruby'} BR-3: Testing Ruby
            %a{:href => "http://digitalcircle.org/events/belfast-ruby-an-introduction-to-spree-commerce"} BR-4: An Introduction to Spree Commerce
  .col.two
    %section.section
      %h1 Training
      %p Are you interested in learning Ruby? There are currently no teaching courses available in Northern Ireland for Ruby and Rails. If enough interest is shown Belfast Ruby will help organise a training course.

      %h3#interest_message Declare your interest in Ruby training
      .email-form-wrapper
        = form_for :interested_user, :url => '/interested_users', :method => :post, :remote => true do |f|
          = f.text_field :email, :class => "email-field", :placeholder => "Your email address"
          = f.submit 'SUBMIT', :class => "submit-button", :src => "assets/submit-btn.png", :type => "image"

    %section.section
      %h1 Elsewhere
      %ul.social-list
        %li.icon.twitter-icon
          Follow
          %a{ :href => "https://twitter.com/belfastruby", :title => "Belfast Ruby on Twitter"} @belfastruby
          on twitter
        %li.icon.github-icon
          %a{ :href => "https://github.com/belfastruby", :title => "Belfast Ruby on Github"} belfastruby
          on github
        %li.icon.group-icon
          %a{ :href => "http://groups.google.com/group/belfastruby", :title => "Belfast Ruby Google Group"} Google Group
        %li.icon.irc-icon
          %a{:href => "irc://irc.freenode.net/##belfastruby", :title => "Belfast Ruby IRC Channel"} ##belfastruby
          IRC channel
        -# %li.icon.meetup-icon
          -# %a{ :href => "https://github.com/belfastruby", :title => "Belfast Ruby Meetup Profile"} Meetup.com
          -# Profile



%aside#sidebar
  %ul.sponsors
    %h3 This months sponsors
    -# %li.sponsor
      -# %a{ :href => "http://examtime.com", :title => "Exam Time"}
        -# = image_tag "exam-time-logo.png", :alt => "Exam Time", :class => "sponsor-logo"
    %li.sponsor
      %a{ :href => "http://rumblelabs.com", :title => "Rumble Labs"}
        = image_tag "rumble-labs-logo.png", :alt => "Rumble Labs", :class => "sponsor-logo"
    %li.sponsor
      %a{ :href => "http://buildconf.com/", :title => "Build Conf"}
        = image_tag "build-logo.png", :alt => "Build Conf", :class => "sponsor-logo"
    -# %li.sponsor
      -# %a{ :href => "http://digitalcircle.org/", :title => "Digital Circle"}
        -# = image_tag "digital-circle-logo.png", :alt => "Digital Circle", :class => "sponsor-logo"

