%div#content
  %div.col.one
    %section.section
      %h1 Meetups
      %p Our meetups are open to all experience levels, from total novices to expert Rubyists.

      .vevent
        %h2.summary BR-2: Ruby without Rails

        %h3.when-icon.icon When?
        %p
          %span.dtstart
            %abbr.value{ :title => "2012-03-27" }27th March 2012,
            %span.value 6:30pm

        %h3.where-icon.icon
          Where? (
          %a.get-directions{ :href => "http://maps.google.co.uk/maps?q=21+Social&hl=en&ll=54.601095,-5.926309&spn=0.01018,0.025921&sll=54.592891,-5.929399&sspn=0.010182,0.025921&oq=21+social&vpsrc=6&hq=21+Social&t=m&z=16", :title => "Show me the way to 21 Social"} Get Directions
          )
        %p.location
          21 Social
          %br
          1 Hill Street, Cathedral Quarter, Belfast, BT1 2LA

        %h3.what-icon.icon What?
        %p.description 
          At our 
          %a{:href => 'http://digitalcircle.org/events/making-the-jump-to-ruby'} first Meetup
          we covered an introduction to Ruby the language and one of it's major uses, <a href="http://rubyonrails.org">Ruby on Rails</a>. 

        %p.description
          The reality is though, that Ruby can be used with much more. This is a chance to see what Ruby without Rails can let you do. For this evening we have two short talks that cover different approaches in using Ruby to develop web applications. 

        %h3
          An Introduction to Sinatra

        %p.description 
          We will be having a brief talk about another use of Ruby for web development, <a href="http://sinatrarb.com">Sinatra</a>. Sinatra is a <a href="http://en.wikipedia.org/wiki/Domain-specific_language">Domain Specific Language</a> for quickly creating web applications in Ruby with minimal effort.
          By <a href="http://stevenwilkin.com/">Steven Wilkin</a>.

        %h3
          Minimalist Rails and Rack

        %p.description
          We're going to look at what is possible when you take the Rails stack to the bare minimum. We'll also take a detour to
          %a{:href => "https://github.com/chneukirchen/rack"} Rack
          the modular web server interface Rails now supports and the flexibility and power that provides.
          By 
          %a{:href => "http://davidjrice.co.uk"} David Rice
          of <a href="http://rumblelabs.com">Rumble Labs</a>.

        %p.description 
          After it will be time to get hacking on any project you like! Our experts in black t-shirts will be roaming around answering questions and lending a hand. So come along, sit down with a beer and get coding.
        %a.url.cta{:href=> "http://digitalcircle.org/events/ruby-without-rails"} Attend Meetup >
      .previous
        %h3 Previous Meetups
        %ul
          %li
            %a{:href => 'http://digitalcircle.org/events/making-the-jump-to-ruby'} BR-1: Making the Jump to Ruby
  .col.two
    %section.section
      %h1 Training
      %p Are you interested in learning Ruby? There are currently no teaching courses available in Northern Ireland for Ruby and Rails. If enough interest is shown Belfast Ruby will help organise a training course.

      %h3#interest_message Declare your interest in Ruby training
      .email-form-wrapper
        = form_for :interested_user, :url => '/interested_users', :method => :post, :remote => true do |f|
          = f.text_field :email, :class => "email-field", :placeholder => "Your email address"
          = f.submit 'SUBMIT', :class => "submit-button", :src => "assets/submit-btn.png", :type => "image"

    %section.section
      %h1 Elsewhere
      %ul.social-list
        %li.icon.twitter-icon
          Follow
          %a{ :href => "https://twitter.com/belfastruby", :title => "Belfast Ruby on Twitter"} @belfastruby
          on twitter
        %li.icon.github-icon
          %a{ :href => "https://github.com/belfastruby", :title => "Belfast Ruby on Github"} belfastruby
          on github
        %li.icon.group-icon
          %a{ :href => "http://groups.google.com/group/belfastruby", :title => "Belfast Ruby Google Group"} Google Group
        %li.icon.irc-icon
          %a{:href => "irc://irc.freenode.net/##belfastruby", :title => "Belfast Ruby IRC Channel"} ##belfastruby
          IRC channel
        -# %li.icon.meetup-icon
          -# %a{ :href => "https://github.com/belfastruby", :title => "Belfast Ruby Meetup Profile"} Meetup.com
          -# Profile



%aside#sidebar
  %ul.sponsors
    %li.sponsor
      %a{ :href => "http://rumblelabs.com", :title => "Rumble Labs"}
        %span.sponsor-tag Sponsor
        = image_tag "rumble-labs-logo.png", :alt => "Rumble Labs", :class => "sponsor-logo"
    %li.sponsor
      %a{ :href => "http://digitalcircle.org/", :title => "Digital Circle"}
        %span.sponsor-tag Sponsor
        = image_tag "digital-circle-logo.png", :alt => "Digital Circle", :class => "sponsor-logo"
    %li.sponsor
      %a{ :href => "http://airpointofsale.com/", :title => "Airpos"}
        %span.sponsor-tag Sponsor
        = image_tag "airpos-logo.png", :alt => "Airpos", :class => "sponsor-logo"