%div#content
  %div.col.one
    %section.section
      %h1 Meetups
      %p Our meetups are open to all experience levels, from total novices to expert Rubyists.

      .vevent
        %h2.summary BR-3: Testing Ruby and Rails

        %h3.when-icon.icon When?
        %p
          %span.dtstart
            %abbr.value{ :title => "2012-04-22" }22th May 2012,
            %span.value 6:30pm

        %h3.where-icon.icon
          Where? (
          %a.get-directions{ :href => "http://maps.google.co.uk/maps?q=rumblelabs&hl=en&ll=54.598323,-5.929527&spn=0.108792,0.338173&sll=53.800651,-4.064941&sspn=14.223239,43.286133&t=h&hq=rumblelabs&z=12&iwloc=A", :title => "Show me the way to the Rumble Laboratory"} Get Directions
          )
        %p.location
          The Rumble Laboratory
          %br
          2nd Floor, 21 Ormeau Avenue, Belfast, Antrim BT2 8HD

        %h3.what-icon.icon What?
        %p.description
          Testing can often be seen as a chore, or something that only testers do. This is an opportunity to peer into the world of agile testing practices were tests become the driver for how you build your code and the code's documentation, while providing a fast feedback mechanism, helping to ensure that your last push didn't bork anything.

        %h3
          Behaviour Driven Development

        %p.description
          A look at using the <a href="http://en.wikipedia.org/wiki/Behavior_Driven_Development">Behaviour Driven Development</a> (BDD) Methodology with Ruby to create well tested and documented and tested code which meets the needs of the requirements and nothing more.
          By <a href="https://twitter.com/#!/zakgrant">Zak Grant</a> of <a href="http://rumblelabs.com">Rumble Labs</a>

        %h3 RSPEC - Y U SO SLOW?

        %p.description
          A case study looking at how ExamTime use TDD technologies on some real projects, the issues we've faced integrating the various different libraries, and how we use CI to pull everything together.
          By David Kennedy of <a href="http://www.examtime.com">ExamTime</a>

        %a.url.cta{:href=> "http://digitalcircle.org/events/belfast-ruby-testing-ruby"} Attend Meetup >
      .previous
        %h3 Previous Meetups
        %ul
          %li
            %a{:href => 'http://digitalcircle.org/events/making-the-jump-to-ruby'} BR-1: Making the Jump to Ruby
            %a{:href => 'http://digitalcircle.org/events/ruby-without-rails'} BR-2: Ruby without Rails
  .col.two
    %section.section
      %h1 Training
      %p Are you interested in learning Ruby? There are currently no teaching courses available in Northern Ireland for Ruby and Rails. If enough interest is shown Belfast Ruby will help organise a training course.

      %h3#interest_message Declare your interest in Ruby training
      .email-form-wrapper
        = form_for :interested_user, :url => '/interested_users', :method => :post, :remote => true do |f|
          = f.text_field :email, :class => "email-field", :placeholder => "Your email address"
          = f.submit 'SUBMIT', :class => "submit-button", :src => "assets/submit-btn.png", :type => "image"

    %section.section
      %h1 Elsewhere
      %ul.social-list
        %li.icon.twitter-icon
          Follow
          %a{ :href => "https://twitter.com/belfastruby", :title => "Belfast Ruby on Twitter"} @belfastruby
          on twitter
        %li.icon.github-icon
          %a{ :href => "https://github.com/belfastruby", :title => "Belfast Ruby on Github"} belfastruby
          on github
        %li.icon.group-icon
          %a{ :href => "http://groups.google.com/group/belfastruby", :title => "Belfast Ruby Google Group"} Google Group
        %li.icon.irc-icon
          %a{:href => "irc://irc.freenode.net/##belfastruby", :title => "Belfast Ruby IRC Channel"} ##belfastruby
          IRC channel
        -# %li.icon.meetup-icon
          -# %a{ :href => "https://github.com/belfastruby", :title => "Belfast Ruby Meetup Profile"} Meetup.com
          -# Profile



%aside#sidebar
  %ul.sponsors
    %h3 This months sponsors
    %li.sponsor
      %a{ :href => "http://examtime.com", :title => "Exam Time"}
        = image_tag "exam-time-logo.png", :alt => "Exam Time", :class => "sponsor-logo"
    %li.sponsor
      %a{ :href => "http://rumblelabs.com", :title => "Rumble Labs"}
        = image_tag "rumble-labs-logo.png", :alt => "Rumble Labs", :class => "sponsor-logo"
    %li.sponsor
      %a{ :href => "http://digitalcircle.org/", :title => "Digital Circle"}
        = image_tag "digital-circle-logo.png", :alt => "Digital Circle", :class => "sponsor-logo"

