!!! 5
%html{:lang => 'en'}
  %head
    = render "layouts/head", :stylesheet_partial => "layouts/stylesheets"
  
  %body{ :class => "#{controller.controller_name}" }
    #header-container.clearfix
      %header#header
        %hgroup
          %h1.site-logo 
            %a{ :href => "/"}= image_tag "belfast-ruby-logo.png", :alt => "Belfast Ruby Logo", :title => "Belfast Ruby Logo"
          %h2.tagline 
            A community of aspiring & experienced developers in Belfast, N.Ireland passionate about 
            %strong Ruby 
            and 
            %strong Rails
    = render "layouts/flashes"
    #main-container
      #main{ :role => 'main' }
        = yield
    = render "layouts/javascripts"
